/* Eric Meyer's Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: rgb(245,246,246); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 */
}

header {
  padding-top: 10px;
}

header h1 {
  display:block;
  font-size: 30px;
  font-weight: bold;
  padding: 2px;
}

header h2 {
  display:block;
  font-size: 25px;
  /*font-weight: bold;*/
  font-style: italic;
  padding: 2px;
}

article {
  padding: 20px;
  line-height: 25px;
  text-align: justify;
  font-size: 14px;
}

#container{
  width: 700px;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 0px 0px 21px rgba(50, 50, 50, 0.87);
  -moz-box-shadow:    0px 0px 21px rgba(50, 50, 50, 0.87);
  box-shadow:         0px 0px 21px rgba(50, 50, 50, 0.87);
}

em {
  font-style: italic;
}

form {
  margin-bottom: 20px;
}

form input{
  border: 1px solid #777;
  border-radius: 3px;
  padding-left: 5px;
  display: inline;
  height: 35px;
  width: 170px;
}

form input[type=submit]{
  height: 38px;
  width: 70px;
  background-color: #999;
}

form input[type=submit]:hover{
  background-color: #BBB;
  cursor: pointer;
}

#output p {
  display: block;
  padding-bottom: 10px;
  font-size: small;
}

#aaa span:nth-child(2){
  font-style: italic;
}

#terms span:nth-child(2){
  font-style: italic;
  font-weight: bold;
}

#tree{
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  min-height: 200px;
  text-align: left;
}

footer {
  font-size: x-small;
  font-style: italic;
  padding: 30px;
}

#result{
  display: none;
}

/* SVG elements */
.node circle {
    stroke: black;
    stroke-width: 1px;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

@-webkit-keyframes rotate {
    0% {
    -webkit-transform: rotate(0deg);
    }
    83% { /*2.4 / 2.9 = 0.827*/
    -webkit-transform: rotate(360deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    }
}

.animated {
    border-radius: 7px;
    text-align: center;
    height: 27px;
    width: 100px;
    background-color: rgb(0, 62, 132);
    color: white;
    font-size: 15px;
    padding-top: 7px;
    visibility: hidden;
    margin:auto;
-webkit-animation-name: rotate;
-webkit-animation-duration: 2.9s;
-webkit-animation-iteration-count: infinite;
-webkit-transition-timing-function: ease-in-out;
}
