/* Eric Meyer's Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

header {
  margin-bottom: 10px;
}

header h1 {
  display:block;
  font-size: xx-large;
  font-weight: bold;
  padding: 5px;
}

header h2 {
  display:block;
  font-size: x-large;
  font-weight: bold;
  padding: 5px;
}

#container{
  width: 700px;
  background-color: #eee;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

form input{
  border: 1px solid #777;
  border-radius: 3px;
  padding-left: 5px;
  display: inline;
  height: 35px;
  width: 170px;
}

form input[type=submit]{
  height: 38px;
  width: 70px;
  background-color: #080;
}

form input[type=submit]:hover{
  background-color: #0a0;
  cursor: pointer;
}

#aaa{
  display: block;
  font-style: italic;
}

#tree{
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  min-height: 200px;

}

footer {
  font-size: small;
  font-style: italic;
  padding: 30px;
}

#result{
  display: none;
}

/* SVG elements */
.node circle {
    stroke: black;
    stroke-width: 1px;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}