<!DOCTYPE html>
<html>
  <head>
    <title>Divergent Thinking Tool</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/script.js"></script>

  </head>
  <body>
    <div id="container">
      <header>
        <hgroup>
          <h1>DivThink!</h1>
          <h2>A tool for divergent thinking...</h2>
        </hgroup>
      </header>
      <article>
        <p>This is a small tool for...</p>
      </article>
      <section>
        <div>
          <form action="/diverge" id="searchForm">
            <input type="text" name="search_string" placeholder="Divergent Search Terms..." />
            <input type="password" name="secret" placeholder="Secret..." />
            <input type="submit" value="Fire!" />
          </form>
        </div>
        <div id="tree">
          <div id="output">
            <p id="terms"><span>Search output: </span><span></span></p>
            <p id="aaa"><span>Last selected node: </span><span>Click on any node of the graph to select its link...</span></p>
          </div>
        </div>
        <div id="result"></div>
      </section>
      <footer>
        <p>Pick up a small portion of divergent and disruptive thinking everyday...</p>
      </footer>
    </div>
  </body>
</html>
